name: responsive_bootstrap_ui
description: "A lightweight Bootstrap-like responsive grid system for Flutter with 12-column layout, breakpoints, rows, and columns."
version: 1.0.4
homepage: https://github.com/manojprajapati1999/responsive_bootstrap_ui
repository: https://github.com/manojprajapati1999/responsive_bootstrap_ui

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/logo.svg
